{% layout 'theme.tvp' %}
{% raw %}
<div id="account">
  <div class="row my-account-wrapper">
    <div class="my-account">
      <div class="sidebar">
        <div class="left-sidebar">
          <h2>My Account</h2>
          <ul class="left-sidebar-list nav nav-tabs tabs-left acco-desktop-view">
            <li class="left-sidebar-item"><a @click.prevent="tabTitleClicked(1)" href="#my-sub">Active Order</a></li>
            <li class="left-sidebar-item"><a @click.prevent="tabTitleClicked(2)" href="#order-history">Order History</a></li>
            <li class="left-sidebar-item"><a @click.prevent="tabTitleClicked(3)" href="#shipaddress">Shipping Addresses</a></li>
            <!--<li class="left-sidebar-item"><a @click.prevent="tabTitleClicked(4)" href="#payment">Payment Method</a></li>-->
            <li class="left-sidebar-item"><a @click.prevent="tabTitleClicked(5)" href="#profile">Profile</a></li>
            <li class="left-sidebar-item"><a href="https://skylar.zendesk.com/hc/en-us">Contact Us</a></li>
            <li class="left-sidebar-item"><a href="/account/logout">Sign Out</a></li>
          </ul>
          <select class="left-sidebar-list acco-mobile-view" v-on:change="mobileTabTitleClicked(event)">
            <option class="left-sidebar-item" :value="1">Active Order</option>
            <option class="left-sidebar-item" :value="2">Order History</option>
            <option class="left-sidebar-item" :value="3">Shipping Addresses</option>
            <!--<option class="left-sidebar-item"><a @click.prevent="tabTitleClicked(4)" href="#payment">Payment Method</a></option>-->
            <option class="left-sidebar-item" :value="5">Profile</option>
            <option class="left-sidebar-item" :value="6">Contact Us</option>
            <option class="left-sidebar-item" :value="7">Sign Out</option>
          </select>
        </div>
        <div class="right-sidebar">
          <div class="tab-content">
            <div id="my-sub" v-show="showTab==1">
              <div class="twelve columns">
                <div id="customer_orders">
                  <table width="100%">
                    <thead>
                      <tr>
                        <th>Products</th>
                        <th>Ship Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-if="sub.next_charge_time" v-for="(sub, index) in subscriptions" class="{% cycle 'odd', 'even' %}">
                        <td><a @click.prevent="subscriptionDetailPage(index)" href="#">{{ sub.title }}</a></td>
                        <td>{{ sub.next_charge_date }}</td>
                      </tr>
                      <tr v-if="active_sub_count < 1 && !sub.next_charge_time && sub.status != 'ONETIME'" v-for="(sub, index) in subscriptions" class="{% cycle 'odd', 'even' %}">
                        <td><a @click.prevent="subscriptionDetailPage(index)" href="#">{{ sub.title }}</a></td>
                        <td v-if="sub.next_charge_time">{{ sub.next_charge_date }}</td>
                        <td v-else-if="sub.status == 'CANCELLED'">Cancelled</td>
                        <td v-else-if="sub.status == 'EXPIRED'">Expired</td>
                        <td v-else-if="sub.status == 'CLOSED'">Closed</td>
                        <td v-else>Inactive</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endraw %}
            <div id="order-history" v-show="showTab==2">
              <div class="grid__item medium-up--two-thirds">
                <h4>{{ 'customer.orders.title' | t }}</h4>
                {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}
                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>{{ 'customer.orders.order_number' | t }}</th>
                      <th>{{ 'customer.orders.date' | t }}</th>
                      <th>{{ 'customer.orders.payment_status' | t }}</th>
                      <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th>{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                    <tr>
                      <td data-label="{{ 'customer.orders.order_number' | t }}">
                        <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small">{{ order.name }}</a>
                      </td>
                      <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                      <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                      <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                      <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <p>{{ 'customer.orders.none' | t }}</p>
                {% endif %}
                {% if paginate.pages > 1 %}
                {% include 'pagination' %}
                {% endif %}
                {% endpaginate %}
              </div>
            </div>
            {% raw %}
            <div id="shipaddress" v-show="showTab==3">
              <div class="four columns">
                <div id="customer_detail" class="group">
                  <h4>Shipping Address</h4>
                  <div v-for="address in addresses" class="shipping-box">
                    <div class="shipping-btn">
                      <span class="shipping-edit-btn"><a href="" @click.prevent="fetchCustomerAddressById(address.id)">Edit</a></span>
                    </div>
                    <div class="shipping-address">
                      <div class="address note">
                        <p>{{ address.first_name+' '+address.last_name }}</p>
                        <p>{{ address.address1 }}</p>
                        <p v-if="address.address2">{{ address.address2 }}</p>
                        <p>{{ address.city+' '+address.province+' '+address.country+', '+address.zip }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="payment" v-show="showTab==4">
              <div class="payment-method">
                <h4>Payment Method</h4>
                <div class="shipping-box">
                  <div class="shipping-btn">
                    <span class="shipping-default-btn">Default</span>
                    <span class="shipping-edit-btn"> <a href="https://checkout.rechargeapps.com/customer/#/card_edit/">Edit</a></span>
                  </div>
                </div>
              </div>
            </div>
            {% endraw %}
            <div id="profile" v-show="showTab==5">
              <h4>{{ 'customer.account.details' | t }}</h4>
              {{ customer.default_address | format_address }}
            </div>
            {% raw %}
            <div id="cont" v-show="showTab==6">
              Continue1
            </div>
            <div id="subscription-detail" v-show="showTab==7 || showTab == 'subscription_details'">
              <div class="right-wrapper-main">
                <div class="order-body">
                  <div class="single-product-name">{{ subscription.title }}</div>
                  <div class="order-first-section">
                    <div class="ship-wrapper">
                      <div class="ship-date">
                        <label for="ship-date">Ship Date</label>
                      </div>
                      <div v-if="subscription.next_charge_time">
                        <a href="#" @click.prevent="openDateModal('change')">{{ subscription.next_charge_date }}</a>
                      </div>
                      <div v-else>None Scheduled</div>
                    </div>
                    <div v-if="subscription.status == 'CANCELLED' || subscription.status == 'EXPIRED'" class="freq-wrapper">
                      <div class="frequency">
                        <label for="frequency">Frequency</label>
                      </div>
                      <div>
                        Cancelled
                      </div>
                    </div>
                    <div v-else-if="subscription.onetime" class="freq-wrapper">
                      <div class="frequency">
                        <label for="frequency">Frequency</label>
                      </div>
                      <div>
                        <p class="one-time-only-font">One Time Only </p>
                      </div>
                    </div>
                    <div v-else>
                      <div class="frequency">
                        <label for="frequency">Frequency</label>
                      </div>
                      <div>
                        <select class="select-month" v-model="subscription.order_interval_frequency" @change="updateFrequency(subscription, $event.target.value)" name="frequency">
                          <option :value="3">Every 3 Months</option>
                          <option :value="6">Every 6 Months</option>
                          <option :value="9">Every 9 Months</option>
                        </select>
                      </div>
                    </div>
                    <div class="ship-top-wrapper">
                      <div class="ship-top">
                        <label for="ship-to">Ship To <a href="#shipaddress" @click.prevent="tabTitleClicked(8)">Edit</a></label>
                      </div>
                      <div>
                        <p>{{ address.address1 }}</p>
                        <p>{{ address.address2 }}</p>
                        <p>{{ address.city+' '+address.country+' '+address.province+' '+address.zip }}</p>
                      </div>
                    </div>
                  </div>
                  <div v-for="(sub_item, index) in subscription.items" class="order-second-section acco-desktop-view">
                    <div class="product-image-with-text-wrap">
                      <div class="product-image-with-text"><img width="58px" height="58px" :src="getProductImagebyProductId(sub_item.product_id)" width="100%" height="100%" /><span class="product-name">{{ sub_item.title }}</span></div>
                      <div class="left quantity-box">
                        <span class="minus" @click="decreaseQuantity(sub_item)">-</span>
                        <input  type="number" min="0" max="4" size="2" class="quantity" name="quantity" id="quantity" v-model="sub_item.quantity"/>
                        <span class="plus" @click="increaseQuantity(sub_item)">+</span>
                      </div>
                    </div>
                    <!-- TODO: Everything about this modal -->
                    <div class="change-scent-wrap">
                      <h4 class="change-scent text-center"><a href="#" :data-target="'#choose-scent-'+sub_item.id" data-toggle="modal">Want to change your scent?</a></h4>
                    </div>
                    <div class="modal fade choose-a-scent" :id="'choose-scent-'+sub_item.id">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/close.png?7978982046155673434"/></button>
                          </div>
                          <div class="modal-body text-center">
                            <h2>Choose a Scent</h2>
                            <form v-on:submit.prevent="swapScent(sub_item)">
                              <div class="choose-a-scent-inner">
                                <div class="col-sm-8 product-select-list">
                                  <div class="subscription-product-lists">
                                    <p class="arrow-product">
                                      <label class="radio-wrapper">Arrow -
                                        <input class="radio-custm-button"  @click="chooseYourScent($event)" name="chooseScent" value="arrow" data-product_id="8985085187" data-variant_id="31022048003" type="radio" v-model="chooseScent">
                                        <span class="checkmark"></span>
                                      </label>
                                      <span>spicy</span>
                                    </p>
                                    <p class="coral-product">
                                      <label class="radio-wrapper">Coral -
                                        <input class="radio-custm-button"  @click="chooseYourScent($event)" name="chooseScent" value="coral" data-product_id="8215300931" data-variant_id="26812012355" type="radio" v-model="chooseScent">
                                        <span class="checkmark"></span>
                                      </label>
                                      <span>fruity</span>
                                    </p>
                                    <p class="isle-product">
                                      <label class="radio-wrapper">Isle -
                                        <input class="radio-custm-button"  @click="chooseYourScent($event)" name="chooseScent" value="isle" data-product_id="8985117187" data-variant_id="31022109635" type="radio" v-model="chooseScent">
                                        <span class="checkmark"></span>
                                      </label>
                                      <span>clean</span>
                                    </p>
                                    <p class="meadow-product">
                                      <label class="radio-wrapper">Meadow -
                                        <input class="radio-custm-button" @click="chooseYourScent($event)" name="chooseScent" value="meadow" data-product_id="8215317379" data-variant_id="26812085955" type="radio" v-model="chooseScent">
                                        <span class="checkmark"></span>
                                      </label>
                                      <span>floral</span>
                                    </p>
                                    <p class="capri-product">
                                      <label class="radio-wrapper">Capri -
                                        <input class="radio-custm-button" @click="chooseYourScent($event)" name="chooseScent" value="capri" data-product_id="443364081695" data-variant_id="5541512970271" type="radio" v-model="chooseScent">
                                        <span class="checkmark"></span>
                                      </label>
                                      <span>citrus</span>
                                    </p>
                                    <p class="capri-product">
                                      <label class="radio-wrapper">Willow -
                                        <input class="radio-custm-button" @click="chooseYourScent($event)" name="chooseScent" value="willow" data-product_id="785329455191" data-variant_id="8328726413399" type="radio" v-model="chooseScent">
                                        <span class="checkmark"></span>
                                      </label>
                                      <span>woodsy</span>
                                    </p>
                                  </div>
                                </div>
                                <div class="col-sm-4 text-center product-img-wrap">
                                  <img v-if="chooseScentImage" width="58px" height="58px" :src="chooseScentImage" width="100%" height="100%" />
                                </div>
                                <div class="save-btn"><button type="submit">Save</button></div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="total-wrapper">
                    <div class="total-inner total">
                      <span>Pre-Tax Total</span>
                      <div class="total-inner">
                        <p v-for="(price_line, index) in subscription.price_lines" :class="index == subscription.price_lines.length -1 ? 'total-inner2' : 'total-inner1'"><span>{{ '$'+price_line.amount }}</span><span>{{ price_line.title }}</span></p>
                        <p class="total-inner-last">Free U.S. shipping + returns</p>
                      </div>
                    </div>
                  </div>
                  <!-- The Modal -->
                  <div class="modal cancellation fade custom-modal" id="cancel-reason-modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/close.png?7978982046155673434"/></button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body text-center">
                          <h5>We'll Miss You!</h5>
                          <form v-on:submit.prevent="cancelSubscription(subscription, $event.target.elements.choose_subscription.value)" id="cancel-reason">
                            <h6>Your cancellation is almost complete.<br />Before you go, please let us know why you decided to cancel.</h6>
                            <div class="modal-list-wrapper">
                              <input type="hidden" name="susbcription_id" :value="subscription.id">
                              <ul class="modal-list">
                                <li class="modal-list-item">
                                  <label class="radio-wrapper">
                                    <input name="choose_subscription" value="I didn't know I was signing up for a full-sized perfume" type="radio">
                                    <span class="checkmark"></span>
                                  </label>
                                  <span class="modal-list-text">I didn't know I was signing up for a full-sized perfume</span></li>
                                  <li class="modal-list-item"><label class="radio-wrapper">
                                    <input name="choose_subscription" value="I'm still playing with my samples" type="radio">
                                    <span class="checkmark"></span>
                                  </label> <span class="modal-list-text">I'm still playing with my samples</span></li>
                                  <li class="modal-list-item"><label class="radio-wrapper">
                                    <input name="choose_subscription" value="I don't like the scents" type="radio">
                                    <span class="checkmark"></span>
                                  </label> <span class="modal-list-text">I don't like the scents</span></li>
                                  <li class="modal-list-item"><label class="radio-wrapper">
                                    <input name="choose_subscription" value="I already have a full-sized perfume and don't need more" type="radio">
                                    <span class="checkmark"></span>
                                  </label> <span class="modal-list-text">I already have a full-sized perfume and don't need more</span></li>
                                  <li class="modal-list-item"><label class="radio-wrapper">
                                    <input name="choose_subscription" value="I don't want a subscription" type="radio">
                                    <span class="checkmark"></span>
                                  </label> <span class="modal-list-text">I don't want a subscription</span></li>
                                  <li class="modal-list-item"><label class="radio-wrapper">
                                    <input name="choose_subscription" value="Other" type="radio">
                                    <span class="checkmark"></span>
                                  </label> <span class="modal-list-text">Other</span></li>
                                </ul>
                              </div>
                              <button type="submit">submit</button>
                            </form>
                          </div>
                          <!-- Modal footer -->
                        </div>
                      </div>
                    </div>
                    <!-- The Date Modal -->
                    <div class="modal fade custom-modal" id="date-modal-cancel">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/close.png?7978982046155673434"/></button>
                          </div>
                          <!-- Modal body -->
                          <div class="modal-body text-center">
                            <h5>Can We Help?</h5>
                            <p class="cancel-popup-text">Do you need more time to play with your new scents? <br>
                              You can push back the next order shipment date.
                              <span v-if="subscription.sample_credit > 0"><br>You will still be able to apply your ${{ subscription.sample_credit }} credit.</span>
                            </p>
                            <div class="calender-wrapper">
                              <label>Choose New Ship Date</label>
                              <div class="calendar"></div>
                            </div>
                            <div class="last-section">
                              <h5><a href="#" data-dismiss="modal" data-target="#cancel-reason-modal" data-toggle="modal">No thanks! I want to cancel</a></h5>
                            </div>
                          </div>
                          <!-- Modal footer -->
                        </div>
                      </div>
                    </div>
                    <div class="modal fade custom-modal" id="date-modal-change">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/close.png?7978982046155673434"/></button>
                          </div>
                          <!-- Modal body -->
                          <div class="modal-body text-center">
                            <h5>Update Ship Date</h5>
                            <p class="cancel-popup-text">Running low on your new scents or need more time to try them?<br>
                              You can adjust the next order shipment date. <br>
                              <span v-if="subscription.sample_credit > 0"><br>You will still be able to apply your ${{ subscription.sample_credit }} credit.</span>
                            </p>
                            <div class="calender-wrapper">
                              <label>Choose New Ship Date</label>
                              <div class="calendar"></div>
                            </div>
                          </div>
                          <!-- Modal footer -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="add-more text-center">
                  <h3>Add More & Save</h3>
                  <h4>Layer multiple scents to create your own, or stock up on your fave.</h4>
                  <p><a href="#" data-target="#scent-chart" data-toggle="modal">View scent guide</a></p>
                </div>
                <div class="row add-more-product">
                  <div class="col-sm-4 add-more-product-item">
                    <div class="item-inner text-center">
                      <p class="product-img" v-html="arrowSpicy"></p>
                      <p class="add-more-product-title">Arrow - spicy</p>
                      <p><a href="#" @click.prevent="addProduct(subscription, 8985085187, 31022048003)" class="add-btn">add</a></p>
                    </div>
                  </div>
                  <div class="col-sm-4 add-more-product-item">
                    <div class="item-inner text-center">
                      <p class="product-img" v-html="coralFruity"></p>
                      <p class="add-more-product-title">Coral - fruity</p>
                      <p><a href="#" @click.prevent="addProduct(subscription, 8215300931, 26812012355)" class="add-btn">add</a></p>
                    </div>
                  </div>
                  <div class="col-sm-4 add-more-product-item">
                    <div class="item-inner text-center">
                      <p class="product-img" v-html="isleClean"></p>
                      <p class="add-more-product-title">Isle - clean</p>
                      <p><a href="#" @click.prevent="addProduct(subscription, 8985117187, 31022109635)" class="add-btn">add</a></p>
                    </div>
                  </div>
                  <div class="col-sm-4 add-more-product-item">
                    <div class="item-inner text-center">
                      <p class="product-img" v-html="meadowFloral"></p>
                      <p class="add-more-product-title">Meadow - floral</p>
                      <p><a href="#" @click.prevent="addProduct(subscription, 8215317379, 26812085955)" class="add-btn">add</a></p>
                    </div>
                  </div>
                  <div class="col-sm-4 add-more-product-item">
                    <div class="item-inner text-center">
                      <p class="product-img" v-html="capriCitrus"></p>
                      <p class="add-more-product-title">Capri - citrus</p>
                      <p><a href="#" @click.prevent="addProduct(subscription, 443364081695, 5541512970271)" class="add-btn">add</a></p>
                    </div>
                  </div>
                  <div class="col-sm-4 add-more-product-item">
                    <div class="item-inner text-center">
                      <p class="product-img" v-html="willowWoodsy"></p>
                      <p class="add-more-product-title">Willow - woodsy</p>
                      <p><a href="#" @click.prevent="addProduct(subscription, 785329455191, 8328726413399)" class="add-btn">add</a></p>
                    </div>
                  </div>
                </div>
                <div class="row bottle">
                  <div class="col-sm-3 bottle-item">
                    <p class="bottle-img"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/bottle1.png?8279218068717793190"></p>
                    <div class="bottle-doc">
                      <p class="bottle-qty">1 bottle</p>
                      <p class="bottle-price">$78</p>
                    </div>
                  </div>
                  <div class="col-sm-3 bottle-item">
                    <p class="bottle-img"><img src="//cdn.shopify.com/s/files/1/0003/1280/3388/t/2/assets/bottle2.png?8279218068717793190"></p>
                    <div class="bottle-doc">
                      <p class="bottle-qty">2 bottle</p>
                      <p class="bottle-price"><span>$156</span><span>$120</span><span>$36 savings</span></p>
                    </div>
                  </div>
                  <div class="col-sm-3 bottle-item">
                    <p class="bottle-img"><img src="//cdn.shopify.com/s/files/1/1445/2216/t/87/assets/bottle3n.png?10474348251224247803"></p>
                    <div class="bottle-doc">
                      <p class="bottle-qty">3 bottle</p>
                      <p class="bottle-price"><span>$234</span><span>$178</span><span>$56 savings</span></p>
                    </div>
                  </div>
                  <div class="col-sm-3 bottle-item">
                    <p class="bottle-img"><img src="//cdn.shopify.com/s/files/1/1445/2216/t/87/assets/bottle4.png?10474348251224247803"></p>
                    <div class="bottle-doc">
                      <p class="bottle-qty">4 bottle</p>
                      <p class="bottle-price"><span>$312</span><span>$200</span><span>$112 savings</span></p>
                    </div>
                  </div>
                </div>
                <div v-if="subscription.status == 'ACTIVE' || subscription.status == 'ONETIME'" class="order-cancel text-center">
                  <a href="#" href="#" @click.prevent="openDateModal('cancel')">Cancel order</a>
                  <p v-if="subscription.sample_credit > 0">This will surrender your ${{ subscription.sample_credit }} credit. </p>
                </div>
                <div v-if="subscription.status == 'CANCELLED'"  class="order-cancel text-center">
                  <a href="#" href="#" @click.prevent="activateSubscription(subscription)">Activate order</a>
                </div>
                <div class="order-cancel text-center">
                  <p>Need Help? <a href="https://skylar.zendesk.com">Contact Us</a> or view our <a href="https://skylar.com/pages/subscriptions-faq">FAQ's</a></p>
                </div>
              </div>
              <div id="edit-address" v-show="showTab==8">
                <div>
                  <form v-on:submit.prevent="addAndUpdateCustomerAddress" id="address-form">
                    <div v-bind:class="{ 'has-warning': !address.address1 }">
                      <input type="hidden" name="id" :value="address.id">
                      <label for="address">Address line 1</label>
                      <input type="text" name="address1" v-model="address.address1">
                    </div>
                    <div>
                      <label for="address">Address line 2</label>
                      <input type="text" name="address2" v-model="address.address2">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.city }">
                      <label for="city">City</label>
                      <input type="text" name="city" v-model="address.city">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.province }">
                      <label for="province">Province</label>
                      <input type="text" name="province" v-model="address.province">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.first_name }">
                      <label for="first-name">First Name</label>
                      <input type="text" name="first_name" v-model="address.first_name">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.last_name }">
                      <label for="last-name">Last Name</label>
                      <input type="text" name="last_name" v-model="address.last_name">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.zip }">
                      <label for="zip">Zip</label>
                      <input type="text" name="zip" v-model="address.zip">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.phone }">
                      <label for="phone">Phone</label>
                      <input type="text" name="phone" v-model="address.phone">
                    </div>
                    <div v-bind:class="{ 'has-warning': !address.country }">
                      <label for="country">Country</label>
                      <input type="text" name="country" v-model="address.country">
                    </div>
                    <div>
                      <button type="Submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endraw %}
    <div class="loader" style="display:none">
      <div class="loader-img">
        {{ 'loader.gif' | asset_url | img_tag }}
      </div>
    </div>
    {% raw %}
  </div>
<div id="talkable-offer"></div>
  {% endraw %}
  <script type="text/javascript">
  try {
  var app = new Vue({
    el: '#account',
    data: {
      active_sub_count: 0,
      customerId: '{{customer.id}}',
      apiBase: 'https://ec2staging.skylar.com',
      showTab: 1,
      showLoader : 0,
      chooseScent: '',
      customerAddress:'',
      arrowSpicy:'{{ 'product3.png' | asset_url | img_tag }}',
      coralFruity:'{{ 'product2.png' | asset_url | img_tag }}',
      isleClean:'{{ 'product4.png' | asset_url | img_tag }}',
      meadowFloral:'{{ 'product5.png' | asset_url | img_tag }}',
      capriCitrus:'{{ all_products['capri-5'].images | first | img_url: '129x129' | img_tag }}',
      willowWoodsy:'{{ all_products['willow'].images | first | img_url: '129x129' | img_tag }}',
      frequency:[],
      orders :[],
      addresses:[],
      address:[],
      product_frequency:'',
      order:[],
      prod_image:[],
      subscriptions:[],
      subscription:[],
      quantity:[],
      regularPrice:0,
      duoSaving:0,
      creditAutoApplied:0,
      editAddressFlag : 0,
      lineItemQuantity:'',
      attemptSubmit: false,
      chooseScentImage:'//cdn.shopify.com/s/files/1/0003/1280/3388/products/Skylar_Product_BottlesFront_Arrow2_grande_4e422362-c15f-4998-8c70-7e234623d6a9.jpg?v=1520582018',
      products : [
        {id: 524819071036, handle:"arrow-1"},
        {id: 539933048892, handle:"arrow-onetime"},
        {id: 524819726396, handle:"coral-3"},
        {id: 539933966396, handle:"coral-onetime"},
        {id: 524819923004, handle:"isle-3"},
        {id: 539934490684, handle:"isle-one-time"},
        {id: 524820021308, handle:"meadow-3"},
        {id: 539934818364, handle:"meadow-one-time"},
        {id: 1311983796311, handle:"capri-subscription"},
        {id: 1312003948631, handle:"capri-onetime"},
      ]
    },
    mounted: function(){
      this.getProducts();
      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
          }
        }
      };
      var c = getUrlParameter('c');
      if(c && c != ''){
        this.customerId = c;
      }
      this.tabTitleClicked((getUrlParameter('q'))?getUrlParameter('q'):1);
    },
    methods:{
      ajaxError: function(error){
        // TODO: report to sentry
        console.log(error);
      },
      tabTitleClicked:function(index){
        this.showTab = index;
        if(this.showTab == 1){
          this.fetchSubcriptionList();
        }else if(this.showTab == 2){

        }else if(this.showTab == 3){
          this.fetchAllCustomerAddresses();
        }else if(this.showTab == 4){

        }else if(this.showTab == 5){

        }else if(this.showTab == 6){

        }else if(this.showTab == 7){

        }else if(this.showTab == 8){

        }else{

        }
      },
      mobileTabTitleClicked:function(event){
        this.showTab = event.target.value;
        if(this.showTab == 1){
          this.fetchSubcriptionList();
        }else if(this.showTab == 2){

        }else if(this.showTab == 3){
          this.fetchAllCustomerAddresses();
        }else if(this.showTab == 4){

        }else if(this.showTab == 5){

        }else if(this.showTab == 6){
          window.location.href="https://skylar.zendesk.com/hc/en-us";
        }else if(this.showTab == 7){
          window.location.href="/account/logout";
        }else if(this.showTab == 8){

        }else{

        }
      },
      calcSubscriptionPricing: function(first_order, total_items){
        if(total_items == 1){
          this.regularPrice = 78;
          this.duoSaving = 0;
          this.creditAutoApplied = 0;
        }else if(total_items == 2){
          this.regularPrice = 156;
          this.duoSaving = 120;
          this.creditAutoApplied = 0;
        }else if(total_items == 3){
          this.regularPrice = 234;
          this.duoSaving = 178;
          this.creditAutoApplied = 0;
        }else if(total_items == 4){
          this.regularPrice = 312;
          this.duoSaving = 200;
          this.creditAutoApplied = 0;
        }else{
          this.regularPrice = 0;
          this.duoSaving = 0;
          this.creditAutoApplied = 0;
        }
        if(first_order){
          this.creditAutoApplied = this.regularPrice - 25;
        }
        return {regularPrice: this.regularPrice, duoSaving: this.duoSaving, creditAutoApplied: this.creditAutoApplied};
      },
      subscriptionDetailPage: function(index){
        this.subscription = this.subscriptions[index];
        this.calcSubscriptionPricing(this.subscription.onetime, this.subscription.total_quantity);
        this.address = this.subscription.address;
        this.showTab = 7;
      },
      fetchSubscriptions:function(){
        $('.loader').show();
        return $.ajax({
          url: this.apiBase + '/account/get_subscriptions.php',
          type: 'GET',
          data: {customer_id: this.customerId},
          success: function(data){
            this.subscriptions = data.subscriptions;
            var active_indices = this.checkActiveSubs();
            if(active_indices.length == 1){
              this.subscriptionDetailPage(active_indices[0]);
            }
            $('.loader').hide();
          }.bind(this),
          error: this.ajaxError,
        });
      },
      checkActiveSubs: function(){
        this.active_sub_count = 0;
        var active_indices = [];
        for(var i = 0; i < this.subscriptions.length; i++){
          if(this.subscriptions[i].next_charge_time){
            active_indices.push(i);
            this.active_sub_count++;
          }
        }
        return active_indices;
      },
      getProducts: function(){
        return $.ajax({
          url: '/products.json',
          data: {limit: 250},
          success: function(data){
            this.products = data.products;
          }.bind(this),
          error: this.ajaxError,
        });
      },
      getProductImagebyProductId: function(productId){
        var productSlug = '';
        var productImage = ' ';
        for(index in this.products){
          if(this.products[index].id == productId){
            if(this.products[index].hasOwnProperty('images') && this.products[index].images.length > 0){
              return this.products[index].images[0].src;
            }
            productSlug = this.products[index].handle;
            break;
          }
        }
        if(productSlug){
          $.ajax({
            url:'/products/'+productSlug+'.js',
            dataType:'json',
            async: false,
            success:function(result){
              productImage = result.featured_image;
            }
          })
        }
        return productImage;
      },
      getProductImageByHandle:function(productHandle){
        for(var i in this.products){
          if(this.products[i].handle == productHandle){
            if(this.products[i].featured_image){
              return this.products[i],featured_image.src;
            } else if(this.products[i].images){
              return this.products[i].images[0].src;
            } else {
              return '';
            }
          }
        }
        return '';
      },
      serializeSubscriptionIds: function(subscription){
        return subscription.items.reduce(function(last, current){
          if(last != ''){
            last += ',';
          }
          return last += current.id;
        }, '');
      },
      updateSubscription: function(subscription, updateData, endpoint) {
        $('.loader').show();
        var subscription_ids = this.subscription.ids;
        var subscription_group_key = this.subscription.group_key;
        updateData.customer_id = this.customerId;
        updateData.subscription_ids = subscription.hasOwnProperty('id') ? subscription.id : this.serializeSubscriptionIds(subscription);
        endpoint = endpoint || '/account/update_subscriptions.php';
        return $.ajax({
          url: this.apiBase + endpoint,
          type: 'POST',
          data: updateData,
          success: function(data){
            if(!data.subscriptions.length){
              this.showTab = 1;
            }
            this.subscriptions = data.subscriptions;
            this.checkActiveSubs();
            if(data.show_ids){
              subscription_ids = data.show_ids;
            }
            for(var i in this.subscriptions){
              if(this.subscriptions[i].ids == subscription_ids || this.subscriptions[i].group_key == subscription_group_key){
                this.subscription = this.subscriptions[i];
                return;
              }
            }
            this.showTab = 1;
          }.bind(this),
          error: this.ajaxError,
        })
        .complete(function(){
          $('.loader').hide();
        });
      },
      updateNextShipDate: function(subscription, shipdate){
        return this.updateSubscription(subscription, {shipdate: shipdate});
      },
      updateFrequency: function(subscription, frequency){
        return this.updateSubscription(subscription, {frequency: frequency});
      },
      updateQuantity: function(sub_item, amount){
        if(this.subscription.items.length == 1 && sub_item.quantity + amount <= 0){
          this.openDateModal('cancel');
          return;
        }
        return this.updateSubscription(sub_item, {quantity: sub_item.quantity + amount});
      },
      decreaseQuantity: function(sub_item){
        return this.updateQuantity(sub_item, -1);
      },
      increaseQuantity: function(sub_item){
        return this.updateQuantity(sub_item, 1);
      },
      openDateModal:function(type){
        var vm = this;
        var subscription = this.subscription;
        var modal = $("#date-modal-"+type);
        modal.modal();
        modal.on('shown.bs.modal', function(){
          $('.calendar').pignoseCalendar({
            minDate: moment(),
            maxDate: moment().add(3, 'months'),
            disabledWeekdays: [0, 6],
            date: (subscription.next_charge_date) ? moment(subscription.next_charge_date) : moment(),
            select: function(date){
              vm.updateNextShipDate(subscription, date[0].format('YYYY-MM-DD'))
                .complete(function(){
                  modal.modal('toggle');
                });
            }
          });
        });
      },
      swapScent : function(sub_item, newScentCode){
        var product_id = $('input[name=chooseScent]:checked').data('product_id');
        var variant_id = $('input[name=chooseScent]:checked').data('variant_id');
        if(sub_item.variant_id == variant_id){
          $("#choose-scent-" + sub_item.id).modal('toggle');
          return false;
        }
        $('.loader').show();
        if(!newScentCode){
          newScentCode = this.chooseScent;
        }

        var promise = null;
        for(var i = 0; i < this.subscription.items.length; i++){
          if(this.subscription.items[i].variant_id == variant_id){
            promise = this.updateQuantity(this.subscription.items[i], sub_item.quantity).then(function(){
              this.updateQuantity(sub_item, 0-sub_item.quantity);
            }.bind(this));
            break;
          }
        }
        if(promise == null){
          promise = this.updateSubscription(sub_item, {scent_code: newScentCode});
        }
        return promise.always(function(){
            $("#choose-scent-" + sub_item.id).modal('toggle');
        });
      },
      chooseYourScent: function(event){
        this.chooseScentImage = this.getProductImageByHandle(event.target.value);
      },
      addProduct: function(subscription, product_id, variant_id){
        for(var i in this.subscription.items){
          if(this.subscription.items[i].variant_id == variant_id){
            return this.increaseQuantity(this.subscription.items[i]);
          }
        }
        return this.updateSubscription(subscription, {add_product: {product_id: product_id, variant_id: variant_id}}, '/account/add_product.php');
      },
      cancelSubscription:function(subscription, reason){
        return this.updateSubscription(subscription, {reason: reason}, '/account/cancel_subscriptions.php')
          .always(function(){
            $('#cancel-reason-modal').modal('toggle');
            this.showTab = 1;
          });
      },
      activateSubscription:function(subscription){
        return this.updateSubscription(subscription, {}, '/account/activate_subscriptions.php');
      },
      /** OLD */
      fetchSubcriptionList:function(){
        this.fetchSubscriptions();
        return;
        $('.loader').show();
        var customerId= '{{ customer.id }}';
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          type: 'GET',
          data:{index:1,customer_id:customerId},
          success: function (result) {
            result =  $.parseJSON(result);
            console.log(result);
            this.subscriptions = result.subscriptions;
            this.checkActiveSubs();
            $('.loader').hide();
          }.bind(this),
          error: function (error) {

          }
        });
      },
      subscriptionOldDetailPage: function(subscriptionId){
        $('.loader').show();
        this.showTab = 7;
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          type: 'GET',
          data:{index:7,subscription_id:subscriptionId},
          success: function (result) {
            result =  $.parseJSON(result);
            console.log(result);
            this.subscription = result.subscription;
            this.subscription.price = this.subscription.price.toFixed(2);
            this.customerAddress = result.subscription.address_id;
            this.chooseScent = result.subscription.product_title;
            this.fetchAllCustomerAddresses();
            this.address = result.subscription.address.address;
            if(result.subscription.order_interval_count > 1){
              if(result.subscription.total_items == 1){
                this.regularPrice = 78;
                this.duoSaving = 0;
                this.creditAutoApplied = 0;
              }else if(result.subscription.total_items == 2){
                this.regularPrice = 156;
                this.duoSaving = 120;
                this.creditAutoApplied = 0;
              }else if(result.subscription.total_items == 3){
                this.regularPrice = 234;
                this.duoSaving = 178;
                this.creditAutoApplied = 0;
              }else if(result.subscription.total_items == 4){
                this.regularPrice = 312;
                this.duoSaving = 200;
                this.creditAutoApplied = 0;
              }else{
                this.regularPrice = 0;
                this.duoSaving = 0;
                this.creditAutoApplied = 0;
              }
            }else if(result.subscription.order_interval_count == 1){
              if(result.subscription.total_items == 1){
                this.regularPrice = 78;
                this.duoSaving = 0;
                this.creditAutoApplied = 58;
              }else if(result.subscription.total_items == 2){
                this.regularPrice = 156;
                this.duoSaving = 120;
                this.creditAutoApplied = 100;
              }else if(result.subscription.total_items == 3){
                this.regularPrice = 234;
                this.duoSaving = 178;
                this.creditAutoApplied = 158;
              }else if(result.subscription.total_items == 4){
                this.regularPrice = 312;
                this.duoSaving = 200;
                this.creditAutoApplied = 180;
              }else{
                this.regularPrice = 0;
                this.duoSaving = 0;
                this.creditAutoApplied = 0;
              }
            }else{
              if(result.subscription.total_items == 1){
                this.regularPrice = 78;
                this.duoSaving = 0;
                this.creditAutoApplied = 58;
              }else if(result.subscription.total_items == 2){
                this.regularPrice = 156;
                this.duoSaving = 120;
                this.creditAutoApplied = 100;
              }else if(result.subscription.total_items == 3){
                this.regularPrice = 234;
                this.duoSaving = 178;
                this.creditAutoApplied = 158;
              }else if(result.subscription.total_items == 4){
                this.regularPrice = 312;
                this.duoSaving = 200;
                this.creditAutoApplied = 180;
              }else{
                this.regularPrice = 0;
                this.duoSaving = 0;
                this.creditAutoApplied = 0;
              }
            }
          }.bind(this),
          error: function (error) {
            console.log(error);
          },
          complete: function(){
            console.log('done');
            $('.loader').hide();
          }
        });
      },
      changeOldSubscriptionInterval:function(event,subscriptionId){
        $('.loader').show();
        var url = 'https://ec2production.skylar.com/account.php';
        var frequency = event.target.value;
        $.ajax({
          url: url,
          type: 'GET',
          data:{subscription_id:subscriptionId, frequency:frequency},
          success: function (result) {
            result =  $.parseJSON(result)
            this.subscriptionOldDetailPage(result.subscription.id);
            $('.loader').hide();
          }.bind(this),
          error: function (error) {

          }
        });
      },
      fetchFrequencyBySubscriptionId:function(subscriptionId,index){
        var url = 'https://ec2production.skylar.com/account.php';
        var subscriptionDuration = ' ';
        $.ajax({
          url: url,
          dataType:'json',
          async: false,
          type: 'GET',
          data:{subscription_id:subscriptionId,index:8},
          success: function (result) {
            if(result != 'Subscription not found'){//
              subscriptionDuration = result.order_interval_frequency;
              setTimeout(function(){
                $('.product-frequency-'+index+' option[value='+subscriptionDuration+']' ).attr('selected','selected');
              },5000);
            }
          }.bind(this),
          error: function (error) {

          }
        });
        return subscriptionDuration;
      },
      fetchQuantityBySubscriptionId:function(subscriptionId,index){
        var url = 'https://ec2production.skylar.com/account.php';
        var subscriptionQuantity = ' ';
        $.ajax({
          url: url,
          dataType:'json',
          async: false,
          type: 'GET',
          data:{subscription_id:subscriptionId,index:8},
          success: function (result) {
            if(result != 'Subscription not found'){
              subscriptionQuantity = result.quantity;
            }
          }.bind(this),
          error: function (error) {

          }
        });
        return subscriptionQuantity;
      },
      decreaseOldQuantity:function(index){
        var url = 'https://ec2production.skylar.com/account.php';
        if(this.subscription.total_items > 1){
          if(parseInt(this.subscription.line_items[index].quantity) <= 0){
            this.subscription.line_items[index].quantity = 0;
          }else{
            $('.loader').show();
            $.ajax({
              url: url,
              dataType:'json',
              async: false,
              type: 'GET',
              data:{index:index,subscription_id:this.subscription.id,quantity:parseInt(this.subscription.line_items[index].quantity)-1,action:'quantity-update'},
              success: function (result) {
                this.subscriptionOldDetailPage(result.id);
              }.bind(this),
              error: function (error) {

              }
            });
          }
        }else{
          alert('Oops! You need to have at least one scent in your order');
        }
      },
      increaseOldQuantity:function(index){
        var url = 'https://ec2production.skylar.com/account.php';
        if(this.subscription.total_items < 4){
          if(this.subscription.line_items[index].quantity >= 4){
            this.subscription.line_items[index].quantity =  4;
          }else{
            $('.loader').show();
            this.subscription.line_items[index].quantity = parseInt(this.subscription.line_items[index].quantity)+1;
            $.ajax({
              url: url,
              dataType:'json',
              async: false,
              type: 'GET',
              data:{index:index,subscription_id:this.subscription.id,quantity:this.subscription.line_items[index].quantity,action:'quantity-update'},
              success: function (result) {
                this.subscriptionOldDetailPage(result.id);
              }.bind(this),
              error: function (error) {

              }
            });
          }
        }else{
          alert('Sorry love, we currently only offer subscriptions for up to 4 bottles of perfume at a time.');
        }
      },
      cancelOldSubscription:function(submitEvent){
        $('.loader').show();
        var subscriptionId = submitEvent.target.elements.susbcription_id.value;
        var reason = submitEvent.target.elements.choose_subscription.value;
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          dataType:'json',
          async: false,
          type: 'GET',
          data:{subscription_id:subscriptionId,reason:reason,action:'cancel-subscription'},
          success: function (result) {
            $('#custom-modal-'+subscriptionId).modal('toggle');
            $('.loader').hide();
            this.fetchSubcriptionList();
            this.showTab = 1;
          }.bind(this),
          error: function (error) {
          }
        });
      },
      activateOldSubscription:function(subscriptionId){
        var subscriptionId = subscriptionId;
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          dataType:'json',
          async: false,
          type: 'GET',
          data:{subscription_id:subscriptionId,action:'activate-subscription'},
          success: function (result) {
            this.subscriptionOldDetailPage(this.subscription.id);

          }.bind(this),
          error: function (error) {
          }
        });
      },
      openOldDateModal:function(subscription, type){
        var modal = $("#date-modal-"+type+'-'+subscription.id);
        modal.modal();
        var vm = this;
        function onClickHandler(date, obj) {
          $('.loader').show();
          var url = 'https://ec2production.skylar.com/account.php';
          $.ajax({
            url: url,
            dataType:'json',
            async: false,
            type: 'GET',
            data:{subscription_id:subscription.id,date:date[0].format('YYYY-MM-DD'),action:'update-next-charge-date'},
            success: function (result) {
              modal.modal('toggle');
              vm.subscriptionOldDetailPage(vm.subscription.id);
            }.bind(this),
            error: function (error) {
            }
          });

          /**
          * @date is an array which be included dates(clicked date at first index)
          * @obj is an object which stored calendar interal data.
          * @obj.calendar is an element reference.
          * @obj.storage.activeDates is all toggled data, If you use toggle type calendar.
          * @obj.storage.events is all events associated to this date
          */
        }
        modal.on('shown.bs.modal', function(){
          $('.calendar').pignoseCalendar({
            minDate: moment(),
            maxDate: moment().add(3, 'months'),
            disabledWeekdays: [0, 6],
            date: (subscription.next_charge_scheduled_at)?moment(subscription.next_charge_scheduled_at):moment(),
            select: onClickHandler
          });
        })
      },
      updateProductVariantSubscription:function(productHandle){
        for(var index in this.subscription.line_items){
          var line_item = this.subscription.line_items[index];
          if(line_item['handle'] == productHandle){
            this.increaseQuantity(index);
            return;
          }
        }
        if(this.subscription.total_items < 4){
          $('.loader').show();
          var url = 'https://ec2production.skylar.com/account.php';
          $.ajax({
            url: url,
            dataType:'json',
            async: false,
            type: 'GET',
            data:{subscription_id:this.subscription.id,product_handle:productHandle,action:'update-subscription'},
            success: function (result) {
              if(result.subscription && typeof result.subscription === 'object'){
                this.subscriptionOldDetailPage(result.subscription.id);
              }else{
                $('.loader').hide();
                alert(result);
              }
            }.bind(this),
            error: function (error) {
            }
          });
        }else{
          alert('Sorry love, we currently only offer subscriptions for up to 4 bottles of perfume at a time.');
        }
      },
      fetchAllCustomerAddresses:function(){
        $('.loader').show();
        var customerId= '{{ customer.id }}';
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          type: 'GET',
          dataType:'json',
          data:{customer_id:customerId,action:'fetch-customer-address'},
          success: function (result) {
            console.log(result);
            this.addresses = result;
            $('.loader').hide();
          }.bind(this),
          error: function (error) {

          }
        });
      },
      fetchCustomerAddressById:function(id,flag){
        flag = typeof flag === 'undefined' ? 0 : flag;
        $('.loader').show();
        this.showTab = 8;
        if(flag){
          this.editAddressFlag = 1;
        }
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          type: 'GET',
          dataType:'json',
          data:{address_id:id,action:'fetch-customer-address-by-id'},
          success: function (result) {
            this.address = result;
            $('.loader').hide();
          }.bind(this),
          error: function (error) {

          }
        });
      },
      addAndUpdateCustomerAddress : function(event){
        this.attemptSubmit = true;
        if(!this.address.address1 || !this.address.city || !this.address.province || !this.address.first_name || !this.address.last_name || !this.address.zip || !this.address.phone || !this.address.country){
          event.preventDefault();
        }else{
          $('.loader').show();
          var formdata = $('#address-form').serialize();
          var customerId = '{{ customer.id }}';
          var url = 'https://ec2production.skylar.com/account.php';
          $.ajax({
            url: url,
            type: 'POST',
            dataType:'json',
            data:{customer_id:customerId,form_data:formdata,action:'add-and-update-customer-address'},
            success: function (result) {
              if(this.editAddressFlag){
                this.editAddressFlag = 0;
                this.showTab = 7;
                $('.loader').hide();
              }else{
                this.fetchAllCustomerAddresses();
                this.showTab = 3;
              }
            }.bind(this),
            error: function (error) {

            }
          });
        }
      },
      changeYourScent : function(submitEvent,index){
        $('.loader').show();
        var newProductHandle = '';
        var oldProductHandle = this.subscription.line_items[index].handle;
        if(this.chooseScent == 'arrow'){
          newProductHandle = 'arrow-5';
        }else if(this.chooseScent == 'coral'){
          newProductHandle = 'coral-5';
        }else if(this.chooseScent == 'isle'){
          newProductHandle = 'isle-5';
        }else if(this.chooseScent == 'meadow'){
          newProductHandle = 'meadow-5';
        }else if(this.chooseScent == 'capri'){
          newProductHandle = 'capri-5';
        }else{

        }
        var url = 'https://ec2production.skylar.com/account.php';
        $.ajax({
          url: url,
          dataType:'json',
          async: false,
          type: 'GET',
          data:{index:index,old_product_handle:oldProductHandle,new_product_handle:newProductHandle,subscription_id:this.subscription.id,action:'change-product-subscription'},
          success: function (result) {
            if(result.subscription && typeof result.subscription === 'object'){
              $("#choose-scent-"+index).modal('toggle');
              this.subscriptionOldDetailPage(this.subscription.id);
            }else{
              $("#choose-scent-"+index).modal('toggle');
              $('.loader').hide();
              alert(result);
            }
          }.bind(this),
          error: function (error) {
          }
        });
      },
      getProductTitleByHandle: function(productHandle){
        var str = productHandle;
        if(str){
          entryArray = str.split("-");
          var spacedCamel =entryArray[0].toUpperCase();
          return spacedCamel;
        }
      }
    }
  });
  } catch(e){
    console.log(e);
    alert('error, please contact support');
    $.ajax({
      url: 'https://sentry.timnolansolutions.com',
      method: 'POST',
      data: {error: JSON.stringify(e)},
    });
  }
</script>
